{% if latest_question_list %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 table, th ,td{border:1px solid black;}
</style>
<table>
    <tr>
       <th>Question</th>
       <th>choice</th>
    </tr>
    {% for question in latest_question_list %}
    <tr><td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
     
          <td></br>
           {% for ch in question.choice_set.all %}
    	   <ul><li>{{ch.choice_text}}</li></ul>
          {% endfor %}
       </td>
    </tr>
    {% endfor %}
</table></br>
   
 <a href="{% url 'polls:listQuestion' %}">Delete Question</a>
{% else %}
    <p>No polls are available.</p>
{% endif %}


